@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
  background-color: #FAFBFC;
}

.register-container {
  width: 700px;
  height: 440px;
  background-color: #FFFFFF;
  margin: 0px auto;
  margin-top: 22vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
}

.register-left-child {
  width: 40%;
  height: 440px;
  background-image: linear-gradient(to bottom right, #66BFD1, #1080BF);
  display: flex;
  flex-direction: column;
}

.register-right-child {
  width: 60%;
  height: 440px;
}

.first-topic {
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  margin-top: 110px !important;
}

.second-topic {
  font-size: 14px;
  color: #FAFAFA;
  text-align: center;
  font-weight: bold;
  width: 75%;
  margin: 0px auto;
  margin-top: 20px;
}

.to-login-btn {
  width: 160px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  border: 1px solid #FFF;
  color: #FFF;
  margin: 0px auto !important;
  margin-top: 40px !important;
}

.to-login-btn:hover {
  cursor: pointer;
  background-color: #006aa3;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.first-topic-2 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  font-weight: bold;
  margin-top: 60px !important;
}

#mobile-topic-2 {
  margin-top: 30px !important;
}

.login-boxes-container {
  width: 160px;
  height: 40px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.login-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  color: #333333;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reg-input {
  margin-top: 20px;
}

.first-btn {
  width: 180px;
  margin-top: 10px !important;
  height: 40px !important;
}

.link-container-register {
  margin: 0px auto;
}

.loader {
  color: yellow !important;
}

.error-text {
  color: red;
  margin-top: 10px;
  font-size: 12px;
}

.sign-out-btn {
  position: absolute;
  right: 10px;
  top: 3px;
}

.sign-out-btn:hover {
  background-color: gray;
}

.loader-btn {
  margin-top: -2px !important;
}

.home-container {
  width: 98%;
  height: 92vh;
  margin: 0px auto;
  margin-top: 2vh;
}

.newlist-container {
  width: 800px;
  margin: 0px auto !important;
  margin-top: 20vh !important;
}

.add-product-input {
  margin-top: 200px !important;
}

.shoppinglist-box:hover .add-shoppinglist-icon{
  cursor: pointer;
  color: #00AEEF;
}

.shoppinglist-box: {
  padding: 300px !important;
}

.create-account-text {
  text-align: center;
  padding-top: 12px;
  font-weight: bold;
  font-size: 11px;
  color: #FFFFFF;
}

.banner {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #1181BF , #3B9FC8);
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-banner {
  width: 34%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-banner-middle {
  width: 32%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.banner-child {
  width: 100%;
  height: 20px;
  background-color: #ededed;
}

.logo-contianer {
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Work Sans', sans-serif;
}

.nav-links {
  color: #FFFFFF;
  padding-top: 14px;
  padding-top: 0px;
  font-family: 'Work Sans', sans-serif;
}
.nav-box {
  width: 80px;
  height: 50px;
  text-align: center;
}

.nav-box:hover {
  cursor: pointer;
  background-color: #1181BF;
}

.nav-icon {
  color: #FFFFFF;
  padding-top: 6px;
}

.profile-image {
  width: 24px;
  border-radius: 100%;
  margin-top: 0px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #1282BF;
}

.profile-name {
  color: #FFF;
  font-family: 'Work Sans', sans-serif;
  margin-top: 16px;
}

.icon-arrow-down {
  color: #FFFFFF;
  padding-left: 6px;
  padding-top: -20px;
}

.mobile-menu-container {
  width: 100%;
  height: 50px;
  background-color: #FAFBFC;
  position: fixed;
  bottom: 0px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-btn-nav {
  width: 20%;
  height: 50px;
  border-left: 1px solid #DEDEDF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon-mobile {
  font-size: 20px !important;
}

@media screen and (min-width: 730px) {
  .create-account-box {
    display: none;
  }
  .create-account-text {
    display: none;
  }
  .mobile-menu-container {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .inner-banner {
    width: 20%;
    height: 50px;
  }

  .inner-banner-middle {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 730px) {
  .banner {
    height: 40px;
  }
  .profile-image {
    margin-top: -10px;
  }
  .icon-arrow-down {
    margin-top: -12px !important;
  }

  .profile-name {
    margin-top: 4px;
  }
  #menu3 {
    position: fixed;
    right: 60px;
  }

  .banner-child {
    display: none;
  }
  .nav-box {
    display: none;
  }
  .menu-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mobile-item {
    width: 30px !important;
  }
  .register-left-child {
    display: none;
    width: 400px;
  }
  .newlist-container {
    width: 80%;
  }
  .register-container {
    width: 300px;
    margin-top: 18vh;
  }
  .register-right-child {
    margin: 0px auto;
  }
  .first-topic-2 {
    margin-top: 50px !important;
  }
  #mobile-topic-2 {
    font-size: 20px;
  }
  .create-account-box {
    width: 300px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    margin: 0px auto;
    background-color: #248FC3;
    margin-top: 2vh;
  }
  .create-account-box:hover {
    cursor: pointer;
    background-color: #65BED1;
  }
}

@media screen and (min-width: 517px) {
  .mobileMenu {
    display: none !important;
    position: absolute !important;
    bottom: 0 !important;
  }
}
@media screen and (max-width: 517px) {
  .webMenu {
    display: none !important;
  }
}
